<!DOCTYPE html>
<html style="height:100%;">
<head>
    <meta charset="utf-8">
	<title>中国疫情地图</title>
    <script src="{{ url_for('static', filename = 'echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'china.js') }}"></script>
	<script src="{{ url_for('static', filename = 'jquery-3.3.1.min.js') }}"></script>
</head>
<body style="height:100%;">
    <div id="main" style="width:100%;height:100%;"></div>
    <script>
        var chart = echarts.init(document.getElementById('main'));
        var data = {{ d| tojson}};
        var mydata=[];
        for (i=0;i<=33;++i){
            mydata.push({ name: data['name'][i], value: data['value'][i] });
        }
	var option = {
		backgroundColor: '#FFFFFF',
		title: {
			text: '全国疫情确诊人数 截止至('+{{today|tojson}}+')',
			x:'center'
		},
		tooltip : {
			trigger: 'item'
		},
		visualMap: {
                    type: 'piecewise',
                    pieces: [
                        {gt: 1500, color: 'darkred'},                        // (1500, Infinity]
                        {gt: 1000, lte: 1500, color: 'red', colorAlpha: 1},  // (1000, 1500]
                        {gt: 500, lte: 1000, color: 'red', colorAlpha: 0.8},
                        {gt: 300, lte: 500, color: 'red', colorAlpha: 0.6},
                        {gt: 100, lte: 300, color: 'red', colorAlpha: 0.4},
                        {gt: 50, lte: 100, color: 'red', colorAlpha: 0.3},
                        {lt: 50, color: 'red', colorAlpha: 0.2}          // (-Infinity, 100)
                    ],


        },
		series: [{
			name: '累计确诊人数',
			type: 'map',
			mapType: 'china', 
			roam: true,
			label: {
				normal: {
					show: false
				},
				emphasis: {
					show: false
				}
			},
			data:mydata
		}]
	};
    chart.setOption(option);
    </script>
</body>
</html>